body {
  background-color: #3d4e65;
}

.Container {
  display: block;
  width: 34%;
  min-width: 450px;
  margin: 100px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #d6d2d0;
}
#temp-change,
#submit {
  border: solid #3d4e65 1px;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  background-color: #f1f5f5;
}

#temp-change:hover,
#submit:hover {
  transition: all 200ms ease;
  background-color: #ddd;
}

#search-bar {
  border: solid #3d4e65 1px;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
}

form {
  text-align: right;
}

h2 {
  font-family: "Poppins", sans-serif;
  color: #1f1d1b;
  text-transform: capitalize;
  line-height: 0.5;
  margin-top: 45px;
}

#main-icon {
  width: 100px;

  margin-bottom: 37px;
  display: inline-flex;
}

.temp {
  color: #56a0ee;
}

h1 {
  text-align: right;
  font-family: "Poppins", sans-serif;
  color: #1f1d1b;
  margin-top: 40px;
  text-transform: capitalize;
}

#current-temp {
  font-size: 40pt;
}

p {
  font-size: 15px;
  text-align: right;
  font-family: "Poppins", sans-serif;
  padding: 2;
  text-transform: capitalize;
}

#wind-speed {
  text-transform: none;
}

h3 {
  color: #1f1d1b;
  font-family: "Poppins", sans-serif;
  margin-top: 8px;
}

.upcomingForecast {
  display: flex;
  text-align: center;
}

.forecast-date {
  font-family: "Poppins", sans-serif;
  color: #1f1d1b;
}

.forecast-temp {
  font-family: "Poppins", sans-serif;
  color: #53a6c8;
}

.col {
  background-color: #f1f5f5;
  border-radius: 10px;
  margin: 3px;
}
footer {
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: #1f1d1b;
  font-size: 10px;
}
